@{
    Layout = "AdminMaster.cshtml";

    //todo spara requestet i variabler
    string name = Request.QueryString["name"];
    string description = Request.QueryString["description"];
    string price = Request.QueryString["price"];
    var message = string.Empty;

    //var products = new List<Product>();
    
    try
    {
        //todo spara till fil

        message = "bra";
    }
    catch (Exception)
    {
        message = "dåligt";

    }
}

<h1>Spara produkter</h1>

<p>@message</p>
<p>Produkten skapad:</p>
<p>@name</p>
<p>@description</p>
<p>@price</p>

